@page
@model ExwhyzeeTechnology.Website.Areas.Admin.Pages.ICourse.IAssignment.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.FIleUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.FIleUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.FIleKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.FIleKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.LastSubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.LastSubmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignment.DialyActivity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assignment.DialyActivity.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Assignment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
