@page
@model ExwhyzeeTechnology.Website.Areas.Admin.Pages.UserManagement.TrainingModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">APPLICATIONS</h3>

        <div class="col-md-12">
            <button class="btn btn-primary">
                Total  @Model.Training.Count()
            </button>
            <button class="btn btn-primary">
                Female  @Model.Training.Count(x => x.Profile.Gender == ExwhyzeeTechnology.Domain.Enum.Enum.GenderStatus.Female)
            </button>
            <button class="btn btn-primary">
                Male  @Model.Training.Count(x => x.Profile.Gender == ExwhyzeeTechnology.Domain.Enum.Enum.GenderStatus.Male)
            </button>

        </div>
    </div>
    <div class="card-header">
        
        <div class="col-md-12">
            <button class="btn btn-primary">
                Total  @Model.Training.Count()
            </button>
            <button class="btn btn-primary">
                Female  @Model.Training.Count(x => x.Profile.Gender == ExwhyzeeTechnology.Domain.Enum.Enum.GenderStatus.Female)
            </button>
            <button class="btn btn-primary">
                Male  @Model.Training.Count(x => x.Profile.Gender == ExwhyzeeTechnology.Domain.Enum.Enum.GenderStatus.Male)
            </button>

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Date
                        </th>
                        <th>
                            Fullname
                        </th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>NIN</th>
                        <th>Gender</th>
                        <th>Course</th>
                        <th>State</th>
                        <th>LGA</th>
                        <th>Admission Status</th>

                        <th></th>
                    </tr>
                </thead>

                @{
                    int sn = 0;

                }
                <tbody>
                    @foreach (var item in Model.Training.OrderByDescending(x => x.Profile.Date))
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @item.Profile.Date.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                <a asp-page="./ApplicationDetails" asp-route-id="@item.Profile.Id">
                                    @Html.DisplayFor(modelItem => item.Profile.FullnameX)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.NIN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CareerTrainingJobRole.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profile.PermanentLga)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdmissionStatus)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Action</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" style="">

                                            <a class="dropdown-item" asp-page="./ApplicationDetails" asp-route-id="@item.Profile.Id">Details</a>

                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>