@page
@using ExwhyzeeTechnology.Application.Services;


@model ExwhyzeeTechnology.Website.Areas.Admin.Pages.Dashboard.IndexModel
@{
}
<style>
    .dashboard-1 .small-box p {
        font-size: 1.15rem;
        margin-bottom: 0;
    }
    .col-lg-3 .small-box h3, .col-md-3 .small-box h3, .col-xl-3 .small-box h3 {
        font-size: 1.42rem;
    }
    .text-truncate-2 {
        white-space: nowrap; /* Prevent text from wrapping to the next line */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis; /* Display "..." at the end of the line when text overflows */
        display: block; /* Ensures the element behaves as a block to apply ellipsis */
    }

</style>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            ADMISSION DASHBOARD
        </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-6 dashboard-1">
                <a asp-page="/" asp-area="Admin">

                    <!-- small box -->
                    <div class="small-box bg-muted">
                        <div class="inner">
                            <h3>@Model.AllAdmitted</h3>

                            <p>ALL ADMITTED</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6 dashboard-1">
                <a asp-page="/" asp-area="Admin">

                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>@Model.MaleAdmitted</h3>

                            <p>MALE</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6 dashboard-1">
                <a asp-page="/" asp-area="Admin">

                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@Model.FemaleAdmitted</h3>

                            <p>FEMALE</p>
                        </div>

                    </div>
                </a>
            </div>
            @for (int i = 0; i < Model.AdmittedCount.Count; i++)
            {
                var item = Model.AdmittedCount[i];
                var color = Model.Colors[i % Model.Colors.Count]; // Cycle through the colors


                <div class="col-lg-4 col-6 dashboard-1">
                    <a asp-page="/" asp-area="Admin">

                        <!-- small box -->
                        <div class="small-box @color">
                            <div class="inner">
                                <h3>@item.ApplicationCount</h3>

                                <p class="text-truncate-2">@item.CareerName</p> <p>(Male: @item.MaleCount, Female: @item.FemaleCount, Non: @item.NoGenderCount)</p>

                            </div>

                        </div>
                    </a>
                </div>

            }



        </div>
    </div>

</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            APPLICATION DASHBOARD
        </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 col-6 dashboard-1">
                <a asp-page="/" asp-area="Admin">

                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>@Model.AllApplication</h3>

                            <p>ALL APPLICATION</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6 dashboard-1">
                <a asp-page="/" asp-area="Admin">

                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@Model.AllMale</h3>

                            <p>MALE</p>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-6 dashboard-1">
                <a asp-page="/" asp-area="Admin">

                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@Model.AllFemale</h3>

                            <p>FEMALE</p>
                        </div>

                    </div>
                </a>
            </div>
            @for (int i = 0; i < Model.CareerApplicationCounts.Count; i++)
            {
                var item = Model.CareerApplicationCounts[i];
                var color = Model.Colors[i % Model.Colors.Count]; // Cycle through the colors


                <div class="col-lg-4 col-6 dashboard-1">
                    <a asp-page="/" asp-area="Admin">

                        <!-- small box -->
                        <div class="small-box @color">
                            <div class="inner">
                                <h3>@item.ApplicationCount</h3> 
                                <p class="text-truncate-2">@item.CareerName</p>  <p>(Male: @item.MaleCount, Female: @item.FemaleCount, Non: @item.NoGenderCount)</p> 
                            </div> 
                        </div>
                    </a>
                </div> 
            }
             
        </div>
    </div>

</div>



@section Scripts {


}